<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr><th colspan="9" class="text-center">@TableTitle</th></tr>
    </thead>
    <tbody>
        @if (Orders?.Count() > 0)
        {
            @foreach (Order o in Orders)
            {
                <tr>
                    
                    <td><b>Alıcı Adı</b></td>
                    <th>Adres</th>
                    <th>Şehir</th>
                    <th>Ülke</th>
                    <th>Devlet</th>
                    <td><b>Posta Kodu</b></td>
                    <th>Ürün</th>
                    <th>Adet</th>
                    <td>
                        
                    </td>
                </tr>
                @foreach (CartLine line in o.Lines)
                {
    <tr>
        
        <td>@o.Name</td>
        <td>@o.Line1 @o.Line2 @o.Line3</td>
        <td>@o.City</td>
        <td>@o.Country</td>
        <td>@o.State</td>
        <td>@o.Zip</td>
        <td>@line.Product.Name</td>
        <td>@line.Quantity</td>
        <td><button class="btn btn-sm btn-danger"
        @onclick="@(e => OrderSelected.InvokeAsync(o.OrderID))">
    @ButtonLabel
</button></td>
    </tr>
                }
            }
        }
        else
        {
            <tr><td colspan="9" class="text-center">Sipariş bulunamadı</td></tr>
        }
    </tbody>
</table>
@code {
    [Parameter]
    public string TableTitle { get; set; } = "Orders";
    [Parameter]
    public IEnumerable<Order> Orders { get; set; }
    [Parameter]
    public string ButtonLabel { get; set; } = "Ship";
    [Parameter]
    public EventCallback<int> OrderSelected { get; set; }
}